In [1]:
import pandas as pd

data_raw = pd.read_excel("./dataset/challenge/original/DataSet_18_10_2023.xlsx")
data_raw

,academic_year_first_registration,birth_date,nacionality,num_registrations,num_registrations_course_conferent_degree,working_student,age,total_ects,has_scholarship,moved_student,...,PL_time,frequency_grade_result,frequency_grade,normal_grade_result,normal_grade,recovery_grade_result,recovery_grade,valid_final_grade,years_since_registration,dropout
0,2007/2008,1989-02-06 06:00:00,PRT,4,10,0,32,12.0,True,False,...,22:00:00,ADNRC,0.0,F,0.0,F,0.0,0,4,True
1,2006/2007,1987-04-25 05:00:00,PRT,4,6,0,34,62.0,False,False,...,22:00:00,NANF,0.0,NaN,0.0,NaN,0.0,0,5,True
2,2007/2008,1989-01-06 06:00:00,PRT,1,6,1,32,49.0,False,False,...,20:00:00,ADNRC,0.0,D,0.0,D,0.0,0,4,True
3,2007/2008,1989-07-27 05:00:00,PRT,2,6,0,31,53.0,False,False,...,22:00:00,NANF,0.0,NaN,0.0,NaN,0.0,0,4,True
4,2006/2007,1987-03-19 06:00:00,PRT,4,4,0,34,56.0,False,False,...,22:00:00,NANF,0.0,NaN,0.0,NaN,0.0,0,5,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1584,2018/2019,2000-03-05 06:00:00,PRT,1,3,0,21,60.0,False,True,...,22:30:00,ADNA,0.0,AP,13.0,F,0.0,1,1,False
1585,2018/2019,1999-04-19 05:00:00,PRT,1,3,0,22,81.0,False,True,...,19:00:00,ADNA,0.0,F,0.0,F,0.0,0,1,True
1586,2019/2020,1999-10-26 05:00:00,ITA,3,2,0,21,50.0,False,True,...,21:00:00,ADNA,0.0,F,0.0,F,0.0,0,0,True
1587,2019/2020,1993-05-11 05:00:00,ITA,1,0,0,28,33.0,False,False,...,19:00:00,ADNA,0.0,AP,10.0,F,0.0,1,0,False
1588,2019/2020,1993-12-22 06:00:00,BRA,1,0,0,27,12.0,False,False,...,16:00:00,ADNA,0.0,F,0.0,F,0.0,0,0,True

In [2]:
data = data_raw.dropna()

data
data.to_csv('./dataset/challenge/DataSet_Without_NaN.csv')

In [3]:
data_processed = data[~((data['attendance_T'] == 0) | 
                   (data['attendance_TP'] == 0) | 
                   (data['attendance_PL'] == 0) |
                    (data['frequency_grade'] == 0))]

In [4]:
data_processed.to_csv('./dataset/challenge/DataSet_Attendance.csv')
data_processed

,academic_year_first_registration,birth_date,nacionality,num_registrations,num_registrations_course_conferent_degree,working_student,age,total_ects,has_scholarship,moved_student,...,PL_time,frequency_grade_result,frequency_grade,normal_grade_result,normal_grade,recovery_grade_result,recovery_grade,valid_final_grade,years_since_registration,dropout
503,2007/2008,1988-01-27 06:00:00,PRT,4,10,0,33,84.0,False,False,...,20:00:00,AP,10.0,F,0.0,F,0.0,1,7,False
511,2008/2009,1990-06-01 05:00:00,PRT,3,9,0,31,24.0,False,False,...,17:00:00,AP,11.0,F,0.0,F,0.0,1,6,False
520,2008/2009,1988-08-07 05:00:00,PRT,3,12,0,32,54.0,False,True,...,00:00:00,AP,10.0,F,0.0,AP,13.0,1,6,False
538,2010/2011,1992-08-03 05:00:00,PRT,1,8,0,28,68.0,False,False,...,22:00:00,AP,12.0,F,0.0,F,0.0,1,4,False
550,2010/2011,1991-09-10 05:00:00,PRT,1,10,0,29,79.0,False,False,...,22:00:00,AP,10.0,F,0.0,F,0.0,1,4,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1247,2016/2017,1997-12-17 06:00:00,PRT,2,5,0,23,73.0,False,True,...,14:00:00,AP,11.0,F,0.0,F,0.0,1,1,False
1250,2016/2017,1998-03-10 06:00:00,PRT,1,5,0,23,66.0,False,True,...,14:00:00,AP,11.0,F,0.0,F,0.0,1,1,False
1252,2016/2017,1997-04-17 05:00:00,PRT,1,5,0,24,67.0,True,True,...,14:00:00,AP,11.0,F,0.0,F,0.0,1,1,False
1253,2016/2017,1998-11-28 06:00:00,PRT,1,5,1,22,66.0,False,True,...,20:00:00,R,7.0,R,7.0,AP,10.0,1,1,False
1256,2016/2017,1998-10-07 05:00:00,PRT,3,4,0,22,67.0,False,True,...,14:00:00,AP,10.0,F,0.0,F,0.0,1,1,False

In [10]:
df = pd.read_csv('./dataset/challenge/DataSet_Attendance.csv', header=0, index_col=0)
df

,academic_year_first_registration,birth_date,nacionality,num_registrations,num_registrations_course_conferent_degree,working_student,age,total_ects,has_scholarship,moved_student,...,PL_time,frequency_grade_result,frequency_grade,normal_grade_result,normal_grade,recovery_grade_result,recovery_grade,valid_final_grade,years_since_registration,dropout
503,2007/2008,1988-01-27 06:00:00,PRT,4,10,0,33,84.0,False,False,...,20:00:00,AP,10.0,F,0.0,F,0.0,1,7,False
511,2008/2009,1990-06-01 05:00:00,PRT,3,9,0,31,24.0,False,False,...,17:00:00,AP,11.0,F,0.0,F,0.0,1,6,False
520,2008/2009,1988-08-07 05:00:00,PRT,3,12,0,32,54.0,False,True,...,00:00:00,AP,10.0,F,0.0,AP,13.0,1,6,False
538,2010/2011,1992-08-03 05:00:00,PRT,1,8,0,28,68.0,False,False,...,22:00:00,AP,12.0,F,0.0,F,0.0,1,4,False
550,2010/2011,1991-09-10 05:00:00,PRT,1,10,0,29,79.0,False,False,...,22:00:00,AP,10.0,F,0.0,F,0.0,1,4,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1247,2016/2017,1997-12-17 06:00:00,PRT,2,5,0,23,73.0,False,True,...,14:00:00,AP,11.0,F,0.0,F,0.0,1,1,False
1250,2016/2017,1998-03-10 06:00:00,PRT,1,5,0,23,66.0,False,True,...,14:00:00,AP,11.0,F,0.0,F,0.0,1,1,False
1252,2016/2017,1997-04-17 05:00:00,PRT,1,5,0,24,67.0,True,True,...,14:00:00,AP,11.0,F,0.0,F,0.0,1,1,False
1253,2016/2017,1998-11-28 06:00:00,PRT,1,5,1,22,66.0,False,True,...,20:00:00,R,7.0,R,7.0,AP,10.0,1,1,False
1256,2016/2017,1998-10-07 05:00:00,PRT,3,4,0,22,67.0,False,True,...,14:00:00,AP,10.0,F,0.0,F,0.0,1,1,False

In [5]:
colunas = ['dropout']

for col in colunas:
    print(f"\nAnalisando a coluna: {col}")
    
    # Contagem de valores únicos
    contagem = data_processed[col].value_counts(dropna=False)
    print("Contagem:\n", contagem)
    
    # Porcentagem
    porcentagem = data_processed[col].value_counts(normalize=True, dropna=False) * 100
    print("Porcentagem (%):\n", porcentagem)

Analisando a coluna: dropout
Contagem:
 dropout
False    172
True      10
Name: count, dtype: int64
Porcentagem (%):
 dropout
False    94.505495
True      5.494505
Name: proportion, dtype: float64

In [41]:
df_dropout_true = data_processed[data_processed['dropout'] == True]

df_dropout_false = data_processed[data_processed['dropout'] == False]

df_dropout_true.to_excel('./dataset/challenge/dropout_true.xlsx', index=False)
df_dropout_false.to_excel('./dataset/challenge/dropout_false.xlsx', index=False)

print("Arquivos salvos: dropout_true.csv e dropout_false.csv")

Arquivos salvos: dropout_true.csv e dropout_false.csv